
<div class="text-center">
  <h1>Browse bikes</h1>
</div>



<div class="container">
  <div class="row">


    <div class="col-xs-6 col-sm-6">
      <% @bikes.each do |bike| %>

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= get_bike_picture(bike) %>'); background-position: center">
        <div class="card-category"> <%= bike.price %>  </div>
        <div class="card-description">
          <h2> <%= "#{bike.gender} #{bike.category} bike" %> </h2>
          <img class="card-user avatar" src="user.jpg">
          <%= link_to "", bike_path(bike), class: "card-link" %>
        </div>
      </div>
      <% end %>
    </div>


    <div class = "col-xs-6 col-sm-6" style = "background-color: #dedef8;
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

      <div>

        <div id="map" style="width: 100%; height: 600px;"></div>

        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>


