 <h1 class="text-center"> <span class="banner-title"> <%= @bike.gender %> <%= @bike.category %> bike </span> </h1>

<% if @bike.photo? %>
<%= cl_image_tag @bike.photo.path, width: 200, height: 300, crop: :fill %>
<% else %>
<div class="bike-banner" style="background-image: url( <%= image_path 'default-bike.png' %>);">

 <div class="banner-content">
  <%= button_to "Rent this bike", new_bike_booking_path(@bike), class:"btn btn-primary btn-lg position-on-bike" %>
  <br>
  <div class="banner-paragraph">
    <p><%= "Bike Size = #{@bike.size} Gender = #{@bike.gender} Category = #{@bike.category} Gears = #{@bike.gears} Condition = #{@bike.condition} Price = #{@bike.price}" %></p>
  </div>
</div>
</div>

<br>
<br>

<div class="container">
  <div class="card-show text-center">
    <%= image_tag 'avatar.jpg', class: "avatar-large" %>
    <h1><%= "#{@bike.user.first_name} #{@bike.user.last_name}" %></h1>
    <h2><%= "#{@bike.user.address}" %></h2>
    <h3><%= "#{@bike.user.rating}" %></h3>
    <p><%= "Contact:" %></p>
    <p><%= "Phone: #{@bike.user.phone_number}" %></p>
    <p><%= "Email: #{@bike.user.email}" %></p>
  </div>
</div>
<% end %>
